@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '~antd/dist/antd.css';

.App {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1010px;

}

.header {
    margin: 32px 36px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
    padding-bottom: 20px;
}

.main {
    margin: 36px;
}

@media (max-width: 768px )  {
    .App {
        width: 420px;
    }
    .header {
        margin: 20px 10px 0;
    }
    .main {
        margin: 16px;
    }
}



