.movies-list__item {
    display: flex;
    height: 280px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.item-image {
    width: 183px;
}

.ant-image-img {
    height: 100%;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    padding: 10px 20px;
}

h1.ant-typography {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
}

div.ant-typography {
    margin: 0;
}

.vote-average {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 2px solid #E9D100;
    border-radius: 50%;
}

.item-info__data{
    margin: 0;
    font-size: 12px;
    line-height: 22px;
}

.item-info__description{ 
    margin: 0;
    font-size: 12px;
    line-height: 22px;
}

.item-info__buttons {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.item-info__buttons button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
}

.ant-rate {
    font-size: 15px;
    margin-top: auto;
}